{"name":"@devrelay/{{platform}}-{{arch}}","version":"{{version}}","description":"devrelay binary for {{platform}}/{{arch}}","license":"MIT","repository":{"type":"git","url":"https://github.com/dominictobias/devrelay"},"os":["{{platform}}"],"cpu":["{{arch}}"],"bin":{"devrelay":"bin/devrelay"}}
